@using JAM.App_GlobalResources
@using JAM.Logic

<h1>
    @Global.About_Anna
</h1>
<img src="/content/images/ja/a.jpg" width="100" align="right" alt="Foto: Helena Hagman" title="Foto: Helena Hagman" style="padding: 5px;" />
<p>
    <br />
    @Global.About_Anna_More
</p>
<br style="clear: both;" />
<h1>
    @Global.About_Jeanette
</h1>
<img src="/content/images/ja/j.jpg" width="100" align="right" alt="Foto: Helena Hagman" title="Foto: Helena Hagman" style="padding: 5px;" />
<p>
    <br />
    @Global.About_Jeanette_More
</p>
<p>
    @Global.About_Footer
</p>