@using JAM.Logic
@using Resources

<img src="/content/images/ja/contact.jpg" width="250" align="right" alt="Foto: Helena Hagman" title="Foto: Helena Hagman" />
<h1>
    @Global.ContactUs_Title</h1>
<p>
    <br />
    @Html.Raw(Global.Constants_AnnaInfo)<br />
    @Html.Raw(Global.Constants_JeanetteInfo)<br />
    <br />
    @Html.Raw(Global.Constants_CharlotteInfo)<br />
    @Html.Raw(Global.Constants_LindaInfo)<br />
    @Html.Raw(Global.Constants_NinaInfo)<br />
    @Html.Raw(Global.Constants_EmelieInfo)<br />
    <br />
    @Global.ContactUs_Mail: <a href="mailto:jamatchmaking@gmail.com">jamatchmaking@gmail.com</a>
    <br />
    @Global.ContactUs_Homepage: <a href="http://www.jamatchmaking.com">www.jamatchmaking.com</a><br />
    <br />
    <br />
    <br />
</p>
