@using JAM.App_GlobalResources
@using JAM.Logic

<div>
    <h1>
        FAQ</h1>
    <p>
        <br />
        <b>1.</b> @Global.FAQ_Q1<br />
        <b>Svar:</b> @Global.FAQ_A1<br />
        <br />
        <b>2.</b> @Global.FAQ_Q2<br />
        <b>Svar:</b> @Global.FAQ_A2<br />
        <br />
        <b>3.</b> @Global.FAQ_Q3<br />
        <b>Svar:</b> @Global.FAQ_A3<br />
        <br />
        <b>4.</b> @Global.FAQ_Q4<br />
        <b>Svar:</b> @Global.FAQ_A4<br />
        <br />
        <b>5.</b> @Global.FAQ_Q5<br />
        <b>Svar:</b> @Global.FAQ_A5<br />
        <br />
        <b>6.</b> @Global.FAQ_Q6<br />
        <b>Svar:</b> @Global.FAQ_A6<br />
        <br />
        <b>7.</b> @Global.FAQ_Q7<br />
        <b>Svar:</b> @Global.FAQ_A7<br />
        <br />
        <b>8.</b> @Global.FAQ_Q8<br />
        <b>Svar:</b> @Global.FAQ_A8<br />
    </p>
    <p>
        <b>@Global.Start_P7</b>
    </p>
</div>
