@using JAM.Logic
@using Resources

<div>
    <h1>
        @Global.Prices_Title</h1>
    <br />
    <img src="/content/images/dating3.jpg" alt="" width="350" align="right" style="padding: 5px;" />
    <p>
        @Global.Prices_Intro
    </p>
    <p>
        @Global.Prices_Or
    </p>
    <p>
        @Html.Raw(Global.Prices_Base)
    </p>
    <p>
        &nbsp;&nbsp;@Html.Raw(Global.Prices_Base_Price)
    </p>
    <p>
        <b>@Global.Prices_Coaching_Title</b>
    </p>
    <p>
        @Html.Raw(Global.Prices_Coaching)
    </p>
    <p>
        @Global.Prices_Payment
    </p>
    <p>
        @Global.Prices_End
    </p>
</div>
