@using JAM.App_GlobalResources
@using JAM.Logic

<div>
    <h1>
        @Global.Process_Title</h1>
    <br />
    <img src="/content/images/ja2.jpg" alt="" width="250" align="right" />
    <ol>
        <li>@Global.Process_P1</li>
        <li>@Global.Process_P2</li>
        <li>@Global.Process_P3</li>
        <li>@Global.Process_P4</li>
        <li>@Global.Process_P5</li>
    </ol>
    <p>
        <b>@Global.Start_P7</b>
        <br />
        <br />
    </p>
</div>
