@using JAM.Logic
@using Resources

<h1>
    @Global.References_Title</h1>
                                                            
<div>
    <br/>
    @Html.Raw(Global.References_1)
    <br />
    @Html.Raw(Global.References_2)
    <br />
    <br />
    @Html.Raw(Global.References_3)
    <br />
    <br />
    @Html.Raw(Global.References_4)
    <br />
    @Html.Raw(Global.References_5)
    <br />
    <br />
    @Html.Raw(Global.References_6)
</div>
                                                        