@using JAM.App_GlobalResources
@using JAM.Logic

<h1>@Global.About_Charlotte</h1>
<img src="/content/images/people/charlotte.jpg" width="200" align="right" alt="Charlotte"
    title="Charlotte" />
<p>
    <br />
    @Global.About_Charlotte_More
</p>
<br style="clear: both;" />
<h1>@Global.About_Linda</h1>
<img src="/content/images/people/linda.jpg" width="200" align="right" alt="Linda" title="Linda" />
<p>
    <br />
    @Global.About_Linda_More
</p>
<br style="clear: both;" />
<h1>@Global.About_Nina</h1>
<img src="/content/images/people/nina.jpg" width="200" align="right" alt="Nina" title="Nina" />
<p>
    <br />
    @Global.About_Nina_More
</p>
<br style="clear: both;" />
<h1>@Global.About_Emelie</h1>
<img src="/content/images/people/emelie.jpg" width="200" align="right" alt="Emelie" title="Emelie" />
<p>
    <br />
    @Global.About_Emelie_More
</p>

<br style="clear: both;" />
