@using JAM.Logic
@using Resources
@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Constants.Title</title>
    @Styles.Render("~/Content/css")
    <!--[if lt IE 9]>
    <link href="@Url.Content("~/Content/JamThemeBig.css")" rel="stylesheet" type="text/css" media="all" />
    <![endif]-->
    @Scripts.Render("~/bundles/jquery")
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54495283-2', 'auto');
        ga('send', 'pageview');
    </script>

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "188f7413-b7fb-4c35-a2ae-25d3548c6a68"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
    @RenderSection("scripts", required: false)
    @MiniProfiler.RenderIncludes()
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
    <div class="page">
        <header></header>
        <section id="main">
            <div id="wrapper">
                <div id="wrapper-bgtop">
                    <div id="wrapper-bgbtm">
                        @Html.Partial("Menu")
                        @Html.Partial("Header")

                        <div id="page">
                            <div id="page-bgtop">
                                <div id="page-bgbtm">
                                    <div class="container">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <div id="banner">
                                                        <div class="image">
                                                            <img src="/content/images/banner_pic.jpg" alt="" width="900" height="151" />
                                                        </div>
                                                        <div class="caption">
                                                            @Html.Raw(Global.Constants_Banner)
                                                        </div>
                                                        <div class="border">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <div class="three-col-content">
                                                        <div class="col1">
                                                            <div class="box-style4">
                                                                <div class="box-style4-bgtop">
                                                                    <div class="box-style4-bgbtm">
                                                                        @RenderBody()
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.Partial("Footer")
                    </div>
                </div>
            </div>
        </section>
        <footer></footer>
    </div>
</body>
</html>