@using JAM.Brilliance.App_GlobalResources

<h1>
    @Global.Coaching_Title
</h1>
<div style="position: relative; float: right; width:250px; padding: 10px">
    <span style="position: absolute; bottom: 15px; left: 15px; color: floralwhite">Foto: Helena Hagman</span>
    <img src="/content/images/ja/coaching.jpg" height="360" alt="Foto: Helena Hagman" title="Foto: Helena Hagman" />
</div>
<p>
    <br />
    @Global.Coaching_P1
</p>
<p>@Global.Coaching_P2</p>
<p>@Global.Coaching_P3</p>
<p><strong>@Global.Coaching_P4</strong></p>
<p>@Global.Coaching_P5</p>
<p>@Global.Coaching_P5</p>
<p>@Global.Coaching_P7</p>
<p>@Global.Coaching_P8</p>
<p>@Global.Coaching_P9</p>
<p>@Global.Coaching_P10</p>